<li class="Box-row Box-row--focus-gray mt-0 d-flex js-commits-list-item js-navigation-item js-details-container Details js-socket-channel js-updatable-content"
    data-channel="eyJjIjoicmVwbzoyMzM4Mzk4MjA6Y29tbWl0OjU0MzYzZTJlMDBkYWY2ZjZkZDE0YzJhNGM3MzcyNjVhY2JmZmU0YzkiLCJ0IjoxNjExMDgwNzY5fQ==--7b30b4f02d16f153dbe6fc05daeb028e0a4795a187ba5180dbdb14b9d4986380"
    data-url="/NeverDieOne/library_parser/commit/54363e2e00daf6f6dd14c2a4c737265acbffe4c9/_render_node/commits/commits_list_item">

    <div class="flex-auto min-width-0">
        <p class="mb-1">
            <a aria-label="Replace check 200 status code to 301 status code."
                class="link-gray-dark text-bold js-navigation-open" data-pjax="true"
                href="/NeverDieOne/library_parser/commit/54363e2e00daf6f6dd14c2a4c737265acbffe4c9">{{ text }}</a>
        </p>

        <div class="d-flex flex-items-center mt-1">

            <div class="AvatarStack flex-self-start ">
                <div class="AvatarStack-body" aria-label="NeverDieOne">
                    <a class="avatar avatar-user" data-skip-pjax="true" data-hovercard-type="user"
                        data-hovercard-url="/users/NeverDieOne/hovercard" data-octo-click="hovercard-link-click"
                        data-octo-dimensions="link_type:self" style="width:20px;height:20px;" href="/NeverDieOne">
                        <img height="20" width="20" alt="@NeverDieOne"
                            src="https://avatars2.githubusercontent.com/u/38184869?s=60&amp;v=4" class=" avatar-user">
                    </a>
                </div>
            </div>

            <div class="f6 text-gray min-width-0">

                <a href="/NeverDieOne/library_parser/commits?author=NeverDieOne" class="commit-author user-mention"
                    title="View all commits by NeverDieOne">NeverDieOne</a> committed
                <relative-time datetime="2020-02-20T19:40:38Z" class="no-wrap" title="20 Feb 2020, 22:40 GMT+3">on 20
                    Feb 2020</relative-time>
            </div>
        </div>
    </div>

    <div class="d-none d-md-block flex-shrink-0">
        <div class="BtnGroup">
            <clipboard-copy value="54363e2e00daf6f6dd14c2a4c737265acbffe4c9" aria-label="Copy the full SHA"
                class="btn btn-outline BtnGroup-item" tabindex="0" role="button">
                <svg class="octicon octicon-clippy" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M5.75 1a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75v-3a.75.75 0 00-.75-.75h-4.5zm.75 3V2.5h3V4h-3zm-2.874-.467a.75.75 0 00-.752-1.298A1.75 1.75 0 002 3.75v9.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 13.25v-9.5a1.75 1.75 0 00-.874-1.515.75.75 0 10-.752 1.298.25.25 0 01.126.217v9.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-9.5a.25.25 0 01.126-.217z">
                    </path>
                </svg>
            </clipboard-copy>

            <a href="/NeverDieOne/library_parser/commit/54363e2e00daf6f6dd14c2a4c737265acbffe4c9"
                class="text-mono f6 btn btn-outline BtnGroup-item">
                54363e2
            </a>
        </div>
        <a href="/NeverDieOne/library_parser/tree/54363e2e00daf6f6dd14c2a4c737265acbffe4c9"
            aria-label="Browse the repository at this point in the history"
            class="btn btn-outline tooltipped tooltipped-sw" rel="nofollow"><svg class="octicon octicon-code"
                viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M4.72 3.22a.75.75 0 011.06 1.06L2.06 8l3.72 3.72a.75.75 0 11-1.06 1.06L.47 8.53a.75.75 0 010-1.06l4.25-4.25zm6.56 0a.75.75 0 10-1.06 1.06L13.94 8l-3.72 3.72a.75.75 0 101.06 1.06l4.25-4.25a.75.75 0 000-1.06l-4.25-4.25z">
                </path>
            </svg></a>
    </div>
</li>