<li class="Box-row Box-row--focus-gray mt-0 d-flex js-commits-list-item js-navigation-item js-details-container Details js-socket-channel js-updatable-content"
    data-channel="eyJjIjoicmVwbzoyMzM4Mzk4MjA6Y29tbWl0OjU0MzYzZTJlMDBkYWY2ZjZkZDE0YzJhNGM3MzcyNjVhY2JmZmU0YzkiLCJ0IjoxNjExMDgwNzY5fQ==--7b30b4f02d16f153dbe6fc05daeb028e0a4795a187ba5180dbdb14b9d4986380"
    data-url="/NeverDieOne/library_parser/commit/54363e2e00daf6f6dd14c2a4c737265acbffe4c9/_render_node/commits/commits_list_item">

    <div class="flex-auto">
        <p class="mb-1">
            <a aria-label="Replace check 200 status code to 301 status code."
                class="link-gray-dark text-bold js-navigation-open" data-pjax="true"
                href="/NeverDieOne/library_parser/commit/54363e2e00daf6f6dd14c2a4c737265acbffe4c9">{{ text }}</a>
        </p>

        <div class="d-flex flex-items-center mt-1">

            <div class="AvatarStack flex-self-start ">
                <div class="AvatarStack-body" aria-label="NeverDieOne">
                    <a class="avatar avatar-user" data-skip-pjax="true" data-hovercard-type="user"
                        data-hovercard-url="/users/NeverDieOne/hovercard" data-octo-click="hovercard-link-click"
                        data-octo-dimensions="link_type:self" style="width:20px;height:20px;" href="/NeverDieOne">
                        <img height="20" width="20" alt="@NeverDieOne"
                            src="https://avatars2.githubusercontent.com/u/38184869?s=60&amp;v=4" class=" avatar-user">
                    </a>
                </div>
            </div>

            <div class="f6 text-gray">

                <a href="/NeverDieOne/library_parser/commits?author=NeverDieOne" class="commit-author user-mention"
                    title="View all commits by NeverDieOne">NeverDieOne</a> committed
                <relative-time datetime="2020-02-20T19:40:38Z" class="no-wrap" title="20 Feb 2020, 22:40 GMT+3">on 20
                    Feb 2020</relative-time>
            </div>
        </div>
    </div>
</li>