<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="static/github.css">
  <link rel="stylesheet" type="text/css" href="static/github1.css">
</head>

<body>

  <div class="center" style="margin-left: 20px; margin-top: 20px; width: 350px">
    <div class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
      
      <div class="js-socket-channel js-updatable-content"
        data-channel="eyJjIjoicmVwbzoyMzM4Mzk4MjA6cG9zdC1yZWNlaXZlOjM4MTg0ODY5IiwidCI6MTYxMDQ1NDU4NX0=--f95cb8ebc37b3f5a8574f15887abb5c72dd34d806823b7cc8d677cd7b75e5f65"
        data-url="/NeverDieOne/library_parser/show_partial?partial=tree%2Frecently_touched_branches_list">
      </div>

      <div class="Box mb-3">
        <div class="Box-header Box-header--blue position-relative">
          <h2 class="sr-only">Latest commit</h2>
          <div class="js-details-container Details d-flex rounded-top-1 flex-items-center flex-wrap"
            data-issue-and-pr-hovercards-enabled="">
            <div class="flex-shrink-0 ml-n1 mr-n1 mt-n1 mb-n1 hx_avatar_stack_commit">

              <div class="AvatarStack flex-self-start ">
                <div class="AvatarStack-body" aria-label="NeverDieOne">
                  <a class="avatar avatar-user" data-skip-pjax="true" data-hovercard-type="user"
                    data-hovercard-url="/users/NeverDieOne/hovercard" data-octo-click="hovercard-link-click"
                    data-octo-dimensions="link_type:self" style="width:24px;height:24px;" href="/NeverDieOne">
                    <img height="24" width="24" alt="@NeverDieOne"
                      src="https://avatars2.githubusercontent.com/u/38184869?s=60&amp;v=4" class=" avatar-user">
                  </a>
                </div>
              </div>

            </div>
            <div class="flex-1 d-flex flex-items-center ml-3 min-width-0">
              <div class="css-truncate css-truncate-overflow text-gray">

                <a href="/NeverDieOne/library_parser/commits?author=NeverDieOne" class="commit-author user-mention"
                  title="View all commits by NeverDieOne">NeverDieOne</a>
              </div>
              <span class="hidden-text-expander ml-2 d-inline-block d-inline-block d-lg-none">
                <button type="button" class="hx_bg-black-fade-15 text-gray-dark ellipsis-expander js-details-target"
                  aria-expanded="false">…</button>
              </span>
            </div>
          </div>
        </div>
        <h2 id="files" class="sr-only">Files</h2>

        <a class="d-none js-permalink-shortcut" data-hotkey="y"
          href="/NeverDieOne/library_parser/tree/a58d31d7b137f762f1eb002fcbe6a94f954c1d6f">Permalink</a>

        <div class="include-fragment-error flash flash-error flash-full py-2">
          <svg class="octicon octicon-alert" height="16" viewBox="0 0 16 16" version="1.1" width="16"
            aria-hidden="true">
            <path fill-rule="evenodd"
              d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z">
            </path>
          </svg>

          Failed to load latest commit information.

        </div>
        <div class="js-details-container Details">
          <div role="grid" aria-labelledby="files"
            class="Details-content--hidden-not-important js-navigation-container js-active-navigation-container d-md-block"
            data-pjax="">

            {% for file in files %}
              {{ file }}
            {% endfor %}
            
          </div>
        </div>

      </div>

    </div>
  </div>

</body>

</html>