<div role="row" class="Box-row Box-row--focus-gray py-2 d-flex position-relative js-navigation-item">
    <div role="gridcell" class="mr-3 flex-shrink-0" style="width: 16px;">
    <svg aria-label="File" class="octicon octicon-file text-gray-light" height="16" viewBox="0 0 16 16"
        version="1.1" width="16" role="img">
        <path fill-rule="evenodd"
        d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z">
        </path>
    </svg>

    </div>

    <div role="rowheader" class="flex-auto min-width-0 col-md-2 mr-3">
    <span class="css-truncate css-truncate-target d-block width-fit"><a
        class="js-navigation-open link-gray-dark" title=".gitignore"
        href="/NeverDieOne/library_parser/blob/master/.gitignore">{{ filename }}</a></span>
    </div>

    <div role="gridcell" class="flex-auto min-width-0 d-none d-md-block col-5 mr-3">
    <span class="css-truncate css-truncate-target d-block width-fit">
        <a data-pjax="true" title="Initial commit" class="link-gray"
        href="/NeverDieOne/library_parser/commit/4117b53724c60a860f10b3dc831045ad72b34455">{{ commit }}</a>
    </span>
    </div>

    <div role="gridcell" class="text-gray-light text-right" style="width:100px;">
    <time-ago datetime="2020-01-14T12:46:58Z" class="no-wrap" title="14 Jan 2020, 15:46 GMT+3">12 months ago
    </time-ago>
    </div>

</div>