<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="static/github.css">
  <link rel="stylesheet" type="text/css" href="static/github1.css">
</head>

<body>

  <div class="center" style="margin-left: 20px; margin-top: 20px">
    <div class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
      
      <div class="js-socket-channel js-updatable-content"
        data-channel="eyJjIjoicmVwbzoyMzM4Mzk4MjA6cG9zdC1yZWNlaXZlOjM4MTg0ODY5IiwidCI6MTYxMDQ1NDU4NX0=--f95cb8ebc37b3f5a8574f15887abb5c72dd34d806823b7cc8d677cd7b75e5f65"
        data-url="/NeverDieOne/library_parser/show_partial?partial=tree%2Frecently_touched_branches_list">
      </div>

      <div class="file-navigation mb-3 d-flex flex-items-start">

        <div class="position-relative">
          <details class="details-reset details-overlay mr-0 mb-0 " id="branch-select-menu">
            <summary class="btn css-truncate" data-hotkey="w" title="Switch branches or tags" aria-haspopup="menu"
              role="button">
              <svg class="octicon octicon-git-branch text-gray" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M11.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122V6A2.5 2.5 0 0110 8.5H6a1 1 0 00-1 1v1.128a2.251 2.251 0 11-1.5 0V5.372a2.25 2.25 0 111.5 0v1.836A2.492 2.492 0 016 7h4a1 1 0 001-1v-.628A2.25 2.25 0 019.5 3.25zM4.25 12a.75.75 0 100 1.5.75.75 0 000-1.5zM3.5 3.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0z">
                </path>
              </svg>
              <span class="css-truncate-target" data-menu-button="">master</span>
              <span class="dropdown-caret"></span>
            </summary>
          </details>
        </div>


        <div class="flex-self-center ml-3 flex-self-stretch d-none d-lg-flex flex-items-center lh-condensed-ultra">
          <a data-pjax="" href="/NeverDieOne/library_parser/branches" class="link-gray-dark no-underline">
            <svg class="octicon octicon-git-branch text-gray" height="16" viewBox="0 0 16 16" version="1.1" width="16"
              aria-hidden="true">
              <path fill-rule="evenodd"
                d="M11.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122V6A2.5 2.5 0 0110 8.5H6a1 1 0 00-1 1v1.128a2.251 2.251 0 11-1.5 0V5.372a2.25 2.25 0 111.5 0v1.836A2.492 2.492 0 016 7h4a1 1 0 001-1v-.628A2.25 2.25 0 019.5 3.25zM4.25 12a.75.75 0 100 1.5.75.75 0 000-1.5zM3.5 3.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0z">
              </path>
            </svg>
            <strong>2</strong>
            <span class="text-gray-light">branches</span>
          </a>
          <a data-pjax="" href="/NeverDieOne/library_parser/tags" class="ml-3 link-gray-dark no-underline">
            <svg class="octicon octicon-tag text-gray" height="16" viewBox="0 0 16 16" version="1.1" width="16"
              aria-hidden="true">
              <path fill-rule="evenodd"
                d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z">
              </path>
            </svg>
            <strong>0</strong>
            <span class="text-gray-light">tags</span>
          </a>
        </div>

        <div class="flex-auto"></div>

        <a class="btn ml-2 d-none d-md-block"
          data-hydro-click="{&quot;event_type&quot;:&quot;repository.click&quot;,&quot;payload&quot;:{&quot;target&quot;:&quot;FIND_FILE_BUTTON&quot;,&quot;repository_id&quot;:233839820,&quot;originating_url&quot;:&quot;https://github.com/NeverDieOne/library_parser&quot;,&quot;user_id&quot;:38184869}}"
          data-hydro-click-hmac="04b1b42b78e9762667fb5cd1f9b7aea1a386b12653593553ec23f90bd95606f1"
          data-ga-click="Repository, find file, location:repo overview" data-hotkey="t" data-pjax="true"
          href="/NeverDieOne/library_parser/find/master">
          Go to file
        </a>
        <details class="details-overlay details-reset position-relative d-block">
          <summary role="button" type="button" class="btn ml-2">
            <span class="d-none d-md-flex flex-items-center">
              Add file
              <span class="dropdown-caret ml-1"></span>
            </span>
            <span class="d-inline-block d-md-none">
              <svg aria-label="More options" class="octicon octicon-kebab-horizontal" height="16" viewBox="0 0 16 16"
                version="1.1" width="16" role="img">
                <path
                  d="M8 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM1.5 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm13 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3z">
                </path>
              </svg>
            </span>
          </summary>
        </details>


        <span class="d-none d-md-flex ml-2">
          <get-repo data-catalyst="">
            <details class="position-relative details-overlay details-reset"
              data-action="toggle:get-repo#onDetailsToggle">
              <summary class="btn btn-primary"
                data-hydro-click="{&quot;event_type&quot;:&quot;repository.click&quot;,&quot;payload&quot;:{&quot;repository_id&quot;:233839820,&quot;target&quot;:&quot;CLONE_OR_DOWNLOAD_BUTTON&quot;,&quot;originating_url&quot;:&quot;https://github.com/NeverDieOne/library_parser&quot;,&quot;user_id&quot;:38184869}}"
                data-hydro-click-hmac="d8de14a5f71f4db3ec30f0d81de99cc1e4a86bdd0d4e4449ffca2962e0d53587">
                <svg class="octicon octicon-download mr-1" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                  aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M7.47 10.78a.75.75 0 001.06 0l3.75-3.75a.75.75 0 00-1.06-1.06L8.75 8.44V1.75a.75.75 0 00-1.5 0v6.69L4.78 5.97a.75.75 0 00-1.06 1.06l3.75 3.75zM3.75 13a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5z">
                  </path>
                </svg>
                Code
                <span class="dropdown-caret"></span>
              </summary>
            </details>
          </get-repo>
        </span>
      </div>




      <div class="Box mb-3">
        <div class="Box-header Box-header--blue position-relative">
          <h2 class="sr-only">Latest commit</h2>
          <div class="js-details-container Details d-flex rounded-top-1 flex-items-center flex-wrap"
            data-issue-and-pr-hovercards-enabled="">
            <div class="flex-shrink-0 ml-n1 mr-n1 mt-n1 mb-n1 hx_avatar_stack_commit">

              <div class="AvatarStack flex-self-start ">
                <div class="AvatarStack-body" aria-label="NeverDieOne">
                  <a class="avatar avatar-user" data-skip-pjax="true" data-hovercard-type="user"
                    data-hovercard-url="/users/NeverDieOne/hovercard" data-octo-click="hovercard-link-click"
                    data-octo-dimensions="link_type:self" style="width:24px;height:24px;" href="/NeverDieOne">
                    <img height="24" width="24" alt="@NeverDieOne"
                      src="https://avatars2.githubusercontent.com/u/38184869?s=60&amp;v=4" class=" avatar-user">
                  </a>
                </div>
              </div>

            </div>
            <div class="flex-1 d-flex flex-items-center ml-3 min-width-0">
              <div class="css-truncate css-truncate-overflow text-gray">

                <a href="/NeverDieOne/library_parser/commits?author=NeverDieOne" class="commit-author user-mention"
                  title="View all commits by NeverDieOne">NeverDieOne</a>
              </div>
              <span class="hidden-text-expander ml-2 d-inline-block d-inline-block d-lg-none">
                <button type="button" class="hx_bg-black-fade-15 text-gray-dark ellipsis-expander js-details-target"
                  aria-expanded="false">…</button>
              </span>
              <div class="d-flex flex-auto flex-justify-end ml-3 flex-items-baseline">

                <a href="/NeverDieOne/library_parser/commit/a58d31d7b137f762f1eb002fcbe6a94f954c1d6f"
                  class="f6 link-gray text-mono ml-2 d-none d-lg-inline" data-pjax="">a58d31d</a>
                <a href="/NeverDieOne/library_parser/commit/a58d31d7b137f762f1eb002fcbe6a94f954c1d6f"
                  class="link-gray ml-2" data-pjax="">
                  <relative-time datetime="2020-05-21T16:42:23Z" class="no-wrap" title="21 May 2020, 19:42 GMT+3">on 21
                    May 2020</relative-time>
                </a>
              </div>
            </div>
            <div class="pl-0 pl-md-5 flex-order-1 width-full Details-content--hidden">

              <div class="d-flex flex-items-center">
                <span
                  class="text-gray-dark text-mono d-lg-none hx_bg-black-fade-15 px-1 rounded-1 text-small mt-2">a58d31d</span>
              </div>
            </div>
            <div class="flex-shrink-0">
              <h2 class="sr-only">Git stats</h2>
              <ul class="list-style-none d-flex">
                <li class="ml-0 ml-md-3">
                  <a data-pjax="" href="/NeverDieOne/library_parser/commits/master"
                    class="pl-3 pr-3 py-3 p-md-0 mt-n3 mb-n3 mr-n3 m-md-0 link-gray-dark no-underline no-wrap">
                    <svg class="octicon octicon-history text-gray" height="16" viewBox="0 0 16 16" version="1.1"
                      width="16" aria-hidden="true">
                      <path fill-rule="evenodd"
                        d="M1.643 3.143L.427 1.927A.25.25 0 000 2.104V5.75c0 .138.112.25.25.25h3.646a.25.25 0 00.177-.427L2.715 4.215a6.5 6.5 0 11-1.18 4.458.75.75 0 10-1.493.154 8.001 8.001 0 101.6-5.684zM7.75 4a.75.75 0 01.75.75v2.992l2.028.812a.75.75 0 01-.557 1.392l-2.5-1A.75.75 0 017 8.25v-3.5A.75.75 0 017.75 4z">
                      </path>
                    </svg>
                    <span class="d-none d-sm-inline">
                      <strong>19</strong>
                      <span aria-label="Commits on master" class="text-gray d-none d-lg-inline">
                        commits
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h2 id="files" class="sr-only">Files</h2>

        <a class="d-none js-permalink-shortcut" data-hotkey="y"
          href="/NeverDieOne/library_parser/tree/a58d31d7b137f762f1eb002fcbe6a94f954c1d6f">Permalink</a>

        <div class="include-fragment-error flash flash-error flash-full py-2">
          <svg class="octicon octicon-alert" height="16" viewBox="0 0 16 16" version="1.1" width="16"
            aria-hidden="true">
            <path fill-rule="evenodd"
              d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z">
            </path>
          </svg>

          Failed to load latest commit information.

        </div>
        <div class="js-details-container Details">
          <div role="grid" aria-labelledby="files"
            class="Details-content--hidden-not-important js-navigation-container js-active-navigation-container d-md-block"
            data-pjax="">
            <div class="sr-only" role="row">
              <div role="columnheader">Type</div>
              <div role="columnheader">Name</div>
              <div role="columnheader" class="d-none d-md-block">Latest commit message</div>
              <div role="columnheader">Commit time</div>
            </div>

            {% for file in files %}
              {{ file }}
            {% endfor %}
            
          </div>
        </div>

      </div>

    </div>
  </div>

</body>

</html>